name: Build C++ binaries

on:
  push:
  pull_request:

jobs:
  build:
    strategy:
      matrix:
        os: [macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Configure
      run: cmake -S . -B build

    - name: Build
      run: cmake --build build --config Release