name: Build C++ binaries

on:
  push:
  pull_request:

jobs:
  build:
    strategy:
      matrix:
        os: [windows-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Configure CMake
      run: cmake -S . -B build

    - name: Build
      run: cmake --build build --config Release

    - name: List build folder
      run: |
        echo "Files in build folder:"
        ls -l build
        if [ "${{ matrix.os }}" == "windows-latest" ]; then
          ls -l build/Release
        fi

    - name: Upload binaries
      uses: actions/upload-artifact@v4
      with:
        name: sort_add-binaries
        path: |
          build/sort_add        # macOS
          build/Release/*        # Windows